

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  margin: 0px;
  padding:0px;
}
h1{ 
  color:black;
}
.container{
  height: 550px;
  width:307px;
  background-color:black ;
  border-radius:20px;
  border:none ;
  box-shadow: 10px 10px 10px rgba(0,0,0,.6);
  
}
.align{
    height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ;
  
}
.text{
  font-family: 'open sans',sans-serif;
  border-radius: 20px;
  height: 150px;
  width: 275px;
  background-color:rgba(256,256,256,.8);
  border:10px solid black;
  text-decoration: none;
  padding: 5px;
  font-size: 70px;
  text-align: right;
  color:black;
  margin-top:  ;
  box-shadow:  ;
}
.button{
  font-family: 'open sans',sans-serif;
  height:57px;
  width:57px;
  border-radius:10px;
  margin-top:10px;
  margin-right: 10px;
  font-size: 25px;
  background-color: white;
  
  box-shadow: 4px 4px 2px rgba(256,256,256,.5) ;
  
}
.button:active{
  background-color:rgba(255,255,255,0.6);
  
}
.buttonn{
  height:8vmin;
  width:15vmin;
  border-radius:1vmin;
  margin-top:3vmin;
  margin-right: 2vmin;
  font-size: 7vmin;
  background-color: ;
  border:  ;
  box-shadow: 20px white;p
}
@media (min-height:1000px)or(min-width:400px){
  .container{
  height: 1000px;
  width:3007px;
  background-color:red ;
  border-radius:20px;
  border:none ;
  box-shadow: 10px 10px 10px rgba(0,0,0,.6);
  
}
.align{
    height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ;
  
}
.text{
  font-family: 'open sans',sans-serif;
  border-radius: 20px;
  height: 150px;
  width: 275px;
  background-color:rgba(256,256,256,.8);
  border:10px solid black;
  text-decoration: none;
  padding: 5px;
  font-size: 70px;
  text-align: right;
  color:black;
  margin-top:  ;
  box-shadow:  ;
}
.button{
  font-family: 'open sans',sans-serif;
  height:57px;
  width:57px;
  border-radius:10px;
  margin-top:10px;
  margin-right: 10px;
  font-size: 25px;
  background-color: white;
  
  box-shadow: 4px 4px 2px rgba(256,256,256,.5) ;
  
}
.button:active{
  background-color:rgba(255,255,255,0.6);
  
}
.buttonn{
  height:8vmin;
  width:15vmin;
  border-radius:1vmin;
  margin-top:3vmin;
  margin-right: 2vmin;
  font-size: 7vmin;
  background-color: ;
  border:  ;
  box-shadow: 20px white;p
}
}